//Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
$raleway: 'Raleway', sans-serif;

//Font Sizes
$heading-font-size: 36px;
$navigation-font-size: 18px;
$form-font-size: 16px;
$content-font-size: 14px;

//Padding/Margin
$default-padding: 20px;
$default-margin: 10px;

//Theme Colors
$orange: #CC4B00; //(Links)
$yellow: #FFC700; //(Navigation highlight)
$light-blue: #006EF5; //(Branding)
$blue: #004EAE; //(Search and Small screen navigation)
$dark-blue: #013371; //(hover/focus in navigation)
$gray: #767676; //(Meta info and placeholder text)
$dark-gray: #333333; //(Content and in-form search icon)
$white: #FFFFFF; //(Header links / icons and search input)

// Bootstrap Colors
$primary: $light-blue;
$secondary: $blue;

