/*
1. Base
2. Header
3. Branding
4. Search
5. Navigation
6. Article
7. Footer
/*


/* Base
------------------------------------------------------------ */
body {
    font-family: $raleway;
    font-size: $content-font-size;
    font-weight: 400;
    color: $dark-gray;
}
a {
    text-decoration: underline;
}


/* Header
------------------------------------------------------------ */
header.site-header {
    height: 4em;
}


/* Branding
------------------------------------------------------------ */
.logo {
    margin: $default-margin;
    margin-right: 0;
    max-width: 40px;
}
a.brand {
    display: none;
    color: $white;
    font-size: $content-font-size;
    font-weight: 600;
    text-decoration: none;

    @include media-breakpoint-up(md) {
        display: inline-block;
        vertical-align: middle;
    }
}


/* Search
------------------------------------------------------------ */
.search-toggler {

    .search-toggle-button {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 4em;
        height: 4em;
        padding: 1.25em;
        cursor: pointer;
    }
    &:not(.collapsed) .search-toggle-button {
        background-color: $blue;

        &:after {
            content: "";
            display: block;
            position: relative;
            width: 1.5em;
            height: 1.5em;
            background-image: url(../icons/close.svg);
            background-repeat: no-repeat;
        }
    }
    &.collapsed .search-toggle-button  {
        &:after {
            content: "";
            display: block;
            position: relative;
            width: 1.5em;
            height: 1.5em;
            background-image: url(../icons/search.svg);
            background-repeat: no-repeat;
        }
    }
}
.search-box-wrapper {
    position: relative;
    background: $blue;

    .container {
        position: relative;
    }
    .search-box {
        //display: none;
        width: 100%;
        padding: 1em;

        @include media-breakpoint-up(md) {
            position: absolute;
            background: $blue;
            z-index: 10;
            top: 0;
            right: 15px;
            width: 22em;
        }

        input.field {
            width: 10em;
            font-size: $form-font-size;
            border-radius: 0;
            border: none;
        }
        input.submit {
            background-color: transparent;
            text-indent: -9999px;
            border: none;
            position: absolute;
            z-index: 10;
            right: .5em;
            top: .5em;
            display: block;
            width: 1.5em;
            height: 1.5em;
            background: url(../icons/search-black.svg);
            background-repeat: no-repeat;
        }
    }
}


/* Navigation
------------------------------------------------------------ */
.navbar-toggler {
    padding: 0;
    font-size: 1em;
    border: none;

    .nav-toggler {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 4em;
        height: 4em;
        padding: 1.25em;
        cursor: pointer;
    }
    &:not(.collapsed) .nav-toggler {
        background-color: $blue;

        &:after {
            content: "";
            display: block;
            position: relative;
            width: 1.5em;
            height: 1.5em;
            background-image: url(../icons/close.svg);
            background-repeat: no-repeat;
        }
    }
    &.collapsed .nav-toggler {
        &:after {
            content: "";
            display: block;
            position: relative;
            width: 1.5em;
            height: 1.5em;
            background-image: url(../icons/menu.svg);
            background-repeat: no-repeat;
        }
    }
}
.navbar {
    padding: 0;

    .menu-item {
        border-bottom: 1px inset $gray;

        &:last-child {
            border: none;
        }
        .nav-link {
            color: $white;
            padding: $default-margin;
        }
        &:hover {
            text-decoration: underline;
            background: $dark-blue;

            .nav-link {
                color: $white;
            }
        }
        &.active {
            background: $dark-blue;

            .nav-link {
                color: $yellow;
            }
        }
    }
}


/* Article/Post
------------------------------------------------------------ */
article {
    a {
        color: $orange;
    }
    .entry-title {
        font-size: $heading-font-size;
        margin-bottom: .25em;
    }
    .entry-meta {
        color: $gray;
    }
    .read-more {
        display: block;

        &:after {
            content: "";
            display: inline-block;
            position: relative;
            top: .55em;
            left: 0em;
            width: 1.25em;
            height: 1.5em;
            background-image: url(../icons/cheveron-right.svg);
            background-repeat: no-repeat;
        }
    }
}


/* Footer
------------------------------------------------------------ */
footer {
    font-size: 12px;
}